@model Aluno
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Aluno</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>
        Acesso Negado! Entre em contato com a secretaria referente ao seu Perfil!
    </h1>

</body>
</html>
