@model MatriculaWEB.Models.UsuarioView

<h1>Create</h1>

<h4>UsuarioView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <fieldset>
                <legend>Dados do e-mail</legend>
                <!--<div class="form-group">
        <label class="control-label">Email para verificação</label>
        <input id="emailverif" class="form-control" />
    </div>
        -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input id="emailverif" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="button" onclick="BuscarEmail()" class="btn btn-primary">Validar e-mail</button>
            </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                        <input asp-for="ConfirmacaoSenha" class="form-control" />
                        <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="enviar" type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </fieldset>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

<script>
    document.getElementById("enviar").disabled = true;

    var txtEmail = document.getElementById("emailverif");

    function BuscarEmail() {
        var url = `http://apilayer.net/api/check?access_key=9fb9f3eacb594e9ea216cb6b5f46b518&email=${txtEmail.value}`;
        fetch(url, { method: "GET" })
            .then(response => response.json())
            .then(json => {
                console.log(json);
                var validador = json.smtp_check;
                console.log(json.smtp_check);
                if (validador == true) {
                    //habilita o botão
                    document.getElementById("enviar").disabled = false;
                    alert("E-mail validado!");
                } else {
                    //desabilita o botão se o email não existir
                    document.getElementById("enviar").disabled = true;
                    alert("E-mail não existe, por gentileza informar um válido!");
                }
            })
            .catch(error => console.log(error));
    }
</script>
