@model ConjuntoAluno
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
</head>
<body>
    <form id="framework_form" asp-action="Cadastrar" asp-controller="ConjuntoAluno" method="post"
          enctype="multipart/form-data">
        <fieldset>
            <legend>Cadastrar Conjunto Ano</legend>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TurmaId">Turma:</label>
                <select class="form-control" asp-items="@ViewBag.Turmas"
                        asp-for="TurmaId">
                    <option> -- SELECIONE -- </option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="AlunoId">Aluno:</label>
                <select id="framework" name="framework[]" multiple="multiple"
                        asp-items="@ViewBag.Alunos"
                        asp-for="AlunoId">
                    <option> -- SELECIONE -- </option>
                </select>
            </div>
            <input type="submit" class="btn btn-info" name="submit" value="Cadastrar" />
        </fieldset>
    </form>
    <br />
    <br />
    

</body>
</html>

<script>
    $(document).ready(function () {
        $('#framework').multiselect({
            nonSelectedText: 'Select Framework',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px'
        });

        $("form").submit(function () {
        });

    });
</script>